<div class="page-header">
  <h1>Vaccine Details</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <img src="http://www.medhelp.org/drug_images/SAN08800.JPG">
  </div>
  <div class="col-md-8">
    <h3>BCG</h3>
    <p class="lead">Infants: 0.05 ml / Children: 0.10 ml</p>
    <p>The bacille Calmette-Guérin (BCG) vaccine has existed for 80 years and is one of the most widely used of all current vaccines, reading >80%of neonates and infants in countries where it is part of the national childhood immunization programme. BCG vaccine has a documented protective effect against meningitis and disseminated TB in children. It does not prevent primary infection and, more importantly, does not prevent reactivation of latent pulmonary infection, the principal source of bacillary spread in the community. The impact of BCG vaccination on transmission of Mtb is therefore limited.The biological interaction between Mtb and the human host is complex and only partially understood. Recent advances in areas such as mycobacterial immunology and genomics have stimulated research on numerous new experimental vaccines, but it is unlikely that any of these urgently need vaccines will be available for routine use within the next few years. In the meantime, optimal utilization of BCG is encouraged. Source: http://www.who.int/biologicals/areas/vaccines/bcg/en/</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="/vaccines/index">Full vaccine list </a></p>
  </div>
</div>
